#games-ul {
  list-style-type: none;
  max-width: 100%;
  padding: 0;
}

.game-li {
  margin-bottom: 50px;
}

.index-game-image {
  width: 30%;
  margin-bottom: 10px;
}

.show-game-image {
  width: 50%;
}


// Achievements
#achievements-ul {
  list-style: none;
  max-width: 100%;
  margin-top: 20px;
}

.achievement-li {
  margin-bottom: 50px;
}

.achievement-image {
  width: 20%;
}